[submodule "Submodules/Charts"]
	path = Submodules/Charts
	url = https://github.com/danielgindi/Charts
[submodule "Submodules/SortedArray"]
	path = Submodules/SortedArray
	url = https://github.com/ole/SortedArray
[submodule "Submodules/GRDB"]
	path = Submodules/GRDB
	url = git@github.com:groue/GRDB.swift.git
