.DS_Store
*/*/xcuserdata
*/xcuserdata

*/*Drinkware*
*/DrinkIcons*

Assets/untappd@2x.png
BeerBuddy/Assets.xcassets/untappd_logo*

/External
/Carthage

Cartfile.resolved
.ruby-version

DBComparison.zip